<nb-card>
    <nb-card-header>
      {{ settings.tableTitle || 'Default Title' }} 
      <button *ngIf="showBlueprintButton" nbButton status="primary" (click)="navigateToBlueprint()" class="appearance-filled size-medium shape-rectangle status-basic nb-transition">
        {{ settings.blueprintButtonTitle  }} 
      </button>
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (create)="onCreate($event)"
      (edit)="onEdit($event)"
      (delete)="onDeleteConfirm($event)"
      (createConfirm)="onCreateConfirm($event)"
      (editConfirm)="onEditConfirm($event)"
      (deleteConfirm)="onDeleteConfirm($event)"
    ></ng2-smart-table>
    
    
    </nb-card-body>
  </nb-card>
  