
  <form class="form-horizontal">
    <div class="row">
      <div class="col-sm-6" *ngFor="let field of metaArray; let i = index">
        <div class="form-group">
          <label [for]="field.key" *ngIf="!isHidden(field.key)" class="label">
            {{ field.displayKey | titlecase }}
          </label>
          <input
              nbInput
              fullWidth
              [id]="field.key"
              [name]="field.key"
              [placeholder]="'Enter ' + field.displayKey | titlecase"
              [(ngModel)]="field.value"
              [hidden]="isHidden(field.key)"
              (blur)="captureFieldValue($event.target.value, i)"
            />
        </div>
      </div>
    </div>
    <button
      type="button"
      nbButton
      status="success"
      class="appearance-filled size-medium shape-rectangle status-basic nb-transition"
      (click)="onSubmit($event)"
    >
      Submit
    </button>
  </form>